@font-face { font-family: Delicious; src: url('../font/open_dyslexic/OpenDyslexic-Regular.otf'); } 
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");
* {
  /* font-family: "Delicious", "Poppins", sans-serif !important; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
}

header > a {
  text-decoration: none;
  color: #161616;
  font-weight: 600;
}

/* INICIO LIBRAS */
.enabled {
  margin-right: 24px;
  margin-top: -38vh !important;
}
.access-button {
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  border-radius: 50px !important;
  border: 0px;
}
/* FIM LIBRAS */

/* Trocar de lingua */

.changeLangOpenDyslexic {
  font-family: "Delicious", "Poppins", sans-serif !important;
}
.changeLangPoppins {
  font-family: "Poppins", sans-serif !important;
}

.buttonChangeLang {
  height: 40px;
  width: 40px;
  position: fixed;
  border-radius: 50%;
  border-style: none !important;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  background-color: #000;
  right: 0;
  top: 31%;
  margin-right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonChangeLang > img {
  width: 80%;
}

/* Trocar de lingua */