  .background {
    background-image: url("../../imagens/bg_yellow.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    width: 100%;
  
    position: fixed;
    z-index: -1;
  }
  
  nav {
    height: 70px;
  }
  
  nav > h2, nav > h4 {
    color: aliceblue;
  }
  
  main > section:nth-child(1) > a > img {
    transition: transform .2s;
    box-shadow: 5px 5px 10px #000;
  }
  
  main > section:nth-child(1) > a > img:hover {
    transform: scale(1.05);
  }
  
  main > section:nth-child(1) > a > img {
    transition: transform .2s;
  }
  
  main > section:nth-child(2) > div:nth-child(1) {
    border-radius: 20px;
    background-color: #f9bb0096;
  }
  
  main > section:nth-child(2) > div:nth-child(2) {
    border-radius: 20px;
    background-color: #f9bb0096;
  }
  
  .container {
    height: calc(100vh - 120px);
  }
  
  .button {
    font-weight: 600;
    padding: 10px 40px;
    border: 1px solid #161616;
    border-radius: 50px !important;
    background-color: #F9B900;
    text-decoration: none !important;
    box-shadow: 3px 3px 10px #1616164d;
    color: #000;
  }
  .button:hover {
    font-weight: 600;
    padding: 10px 40px;
    border-radius: 50px !important;
    background-color: #f5bc10;
  }